<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/styles.css"/>
	</head>

	<body>
		<%- include("header") %>
		<div class="messages">
			<% for (let message of messages) { %>
				<div class="message">
					<div class="message-user"><%= message.username %></div>
					<div class="message-text"><%= message.message %></div>
					<div class="message-timestamp"><%= message.date %></div>
				</div>
			<% } %>

		</div>
	</body>
</html>